*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Additional common Android/Java ignores
*.class
*.log
bin/
gen/
out/
*.apk
*.aar
# Ignore all jar files unless they are in a libs folder
*.jar
!**/libs/*.jar
